@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .swipe-left {
      transform: translateX(-300px) rotate(-15deg);
      opacity: 0;
    }
  
    .swipe-right {
      transform: translateX(300px) rotate(15deg);
      opacity: 0;
    }
  }
  